body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #DDD;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  cursor: default;
}

input {
  cursor: text;
}

button, button *, [role=button], [role=button] * {
  cursor: pointer !important;
}

.pointer, .pointer * {
  cursor: pointer;
}

.uppercase, .uppercase * {
  text-transform: uppercase;
}

.selectFix > div > svg {
  position: absolute;
  top: 4px;
}

.selectFix > div > .uppercase {
  margin-left: 30px;
}
